{% comment %}
  Renders active facet filter pills (remove buttons for applied filters).
  Extracted from facets.liquid to eliminate quadruple duplication (H8 fix).

  Accepts:
  - results: {Object} Collection or Search results object
  - results_url: {String} Base URL for "clear all" link
  - show_clear_all: {Boolean} Whether to show the "clear all" link (default: true)

  Usage:
  {% render 'facet-active-pills', results: results, results_url: results_url, show_clear_all: true %}
{% endcomment %}

{%- for filter in results.filters -%}
  {%- for value in filter.active_values -%}
    <facet-remove>
      <a href="{{ value.url_to_remove }}" class="active-facets__button active-facets__button--light">
        <span class="active-facets__button-inner button button--tertiary">
          {{ filter.label | escape }}: {{ value.label | escape }}
          <span class="svg-wrapper">
            {{- 'icon-close-small.svg' | inline_asset_content -}}
          </span>
          <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
        </span>
      </a>
    </facet-remove>
  {%- endfor -%}

  {%- if filter.type == 'price_range' -%}
    {% assign min = filter.min_value.value %}
    {% assign max = filter.max_value.value %}
    {%- if min != null or max != null -%}
      <facet-remove>
        <a href="{{ filter.url_to_remove }}" class="active-facets__button active-facets__button--light">
          <span class="active-facets__button-inner button button--tertiary">
            {{ min | default: 0 | money }} - {{ max | default: filter.range_max | money }}
            <span class="svg-wrapper">
              {{- 'icon-close-small.svg' | inline_asset_content -}}
            </span>
            <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
          </span>
        </a>
      </facet-remove>
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}

{%- unless show_clear_all == false -%}
  <facet-remove class="active-facets__button-wrapper">
    <a href="{{ results_url }}" class="active-facets__button-remove underlined-link">
      <span>{{ 'products.facets.clear_all' | t }}</span>
    </a>
  </facet-remove>
{%- endunless -%}
